@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'poppins', sans-serif;
  background-image: url(../img/header-shapes.png);
  background-repeat: no-repeat;
  max-width: 375px;
  height: 588px;
  margin-left: 24px;
  margin-right: 24px;
}

.navbar {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
  font-size: 18px;
  margin-right: 50px;
  margin-left: 30px;
  max-width: 350px;
}

.logo-osvaldo {
  text-decoration: none;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.title {
  display: flex;
  color: #172b4d;
  font-size: 40px;
}

.description {
  display: flex;
  color: #344563;
  font-size: 16px;
}

.connect {
  display: flex;
  color: #7f8cff;
  font-size: 16px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon1 {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 70%;
  bottom: 18.88%;
}

.icon2 {
  position: absolute;
  left: 16.8%;
  right: 81.87%;
  top: 70%;
  bottom: 19%;
}

.icon3 {
  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 70%;
  bottom: 19%;
}

.icon4 {
  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 70%;
  bottom: 19%;
}

.icon5 {
  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 70%;
  bottom: 19%;
}

ul {
  list-style-type: none;
}
