@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'poppins', sans-serif;
  width: auto;
  height: auto;
}

.navbar {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #6070ff;
  font-size: 18px;
}

.box-menu-1 {
  display: none;
}

@media (min-width: 768px) {
  .box-menu {
    display: none;
  }

  .box-menu-1 {
    display: flex;
    gap: 30px;
  }

  .box-menu-1 a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    color: #344563;
  }
}

.logo-osvaldo {
  text-decoration: none;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.logo-osvaldo:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 100%;
  background-image: url(../img/header-shapes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 780px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    background-image: url(../img/header-big.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.hero {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.title {
  display: flex;
  color: #172b4d;
  font-size: 40px;
  padding-top: 100px;
  padding-left: 24px;
}

@media (min-width: 768px) {
  .title {
    margin-left: 150px;
    margin-top: 1px;
    padding-top: 1px;
  }
}

.description {
  display: flex;
  color: #344563;
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .description {
    margin-left: 150px;
    padding-right: 300px;
  }
}

.connect {
  display: flex;
  color: #7f8cff;
  font-size: 16px;
  padding-left: 24px;
}

@media (min-width: 768px) {
  .connect {
    margin-left: 150px;
  }
}

.social-media {
  display: flex;
  gap: 15px;
  color: #fff5e1;
  margin-top: 20px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .social-media {
    margin-left: 150px;
  }
}

ul {
  list-style-type: none;
}

.container1 {
  width: auto;
  height: auto;
}

.card {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px;
  border: 10px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
}

.card1 {
  display: flex;
  height: auto;
  width: 100%;
  padding: 16px;
  border: 2px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  flex-direction: column;
}

.portfolio {
  display: flex;
}

.portfolio1 {
  display: flex;
  display: none;
}

.contenido-desktop {
  display: none;
}

.tonic {
  align-items: flex-start;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 0.5px;
}

.info {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-weight: 700;
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  gap: 20px;
  padding-left: 20px;
}

.project-detail {
  text-align: left;
  color: #344563;
  font-size: 15px;
  margin-right: 24px;
  height: auto;
  width: auto;
  margin-left: 16px;
  margin-top: 1px;
}

.buttons {
  display: flex;
  text-align: left;
  border: none;
  margin-left: 16px;
  padding-top: 10px;
  padding-left: 1px;
}

.buttons li {
  float: left;
  margin-right: 12px;
}

.int-button {
  align-items: center;
  align-content: center;
  background: #ebebff;
  border: none;
  border-radius: 8px;
  color: #6070ff;
}

.see {
  background-color: #fff;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-size: 17px;
  font-weight: 700;
  margin-left: 16px;
  transition-property: font-size;
  transition-duration: 2s;
}

.see:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 1px 8px 16px #4053fc42;
  font-size: 19px;
}

.see1 {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 1px 8px 16px #4053fc42;
  font-size: 17px;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 700;
  margin-left: 16px;
  transition-property: font-size;
  transition-duration: 2s;
}

.see1:hover {
  background-color: #fff;
  color: #396df2;
  box-shadow: 1px 8px 16px #4053fc42;
  font-size: 19px;
}

.project2 {
  margin-left: 16px;
}

.multi-post {
  align-items: flex-start;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 1px;
  line-height: 44px;
}

.card2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: minmax(300px, 327px);
  height: 1200px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  margin-top: 80px;
}

.about-me {
  font-weight: 700;
  font-size: 40px;
  margin-left: 24px;
  margin-top: 114px;
}

.about {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  margin-left: 24px;
  width: auto;
  margin-right: 30px;
}

.my-resume-button {
  background-color: #fff;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-size: 17px;
  font-weight: 700;
  margin-left: 16px;
}

.my-resume-button:hover {
  color: #fff;
  background-color: #6070ff;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-left: 24px;
}

.devl {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  gap: 12px;
  margin-left: 24px;
  background: #f7f7f9;
  border-radius: 8px;
}

.tonic-detail {
  color: #344563;
  font-size: 13px;
}

.tonic-detail2 {
  color: #7a869a;
  font-size: 13px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  background-image: url(../img/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  flex-direction: column;
  padding: 16px;
  width: auto;
  height: 780px;
  border: 2px solid #dfe1e6;
  border-radius: 50px 0 0 0;
  background-color: #6070ff;
  box-sizing: border-box;
}

.title1 {
  display: flex;
  color: white;
  font-size: 40px;
}

.form-p {
  display: flex;
  color: white;
}

.form-control {
  padding: 15px 38px 15px 16px;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-container textarea {
  height: 170px;
}

button.form_btn {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-size: 17px;
  font-weight: 700;
}

button.form_btn:hover {
  background-color: #6070ff;
  color: white;
}

.garden {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  row-gap: 20px;
}

.contenido-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-lenguajes {
  display: flex;
  flex-direction: column;
}

/*      Desktop Style     */

@media (min-width: 768px) {
  .portfolio {
    display: flex;
    display: none;
  }

  .portfolio1 {
    display: flex;
    width: auto;
  }

  .card-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .card1 {
    display: flex;
    flex-direction: row;
  }

  .project-detail {
    width: 569px;
  }

  .contenido1 {
    display: flex;
    width: 40%;
    height: auto;
    flex-direction: column;
    margin-left: 100px;
  }

  .about-me {
    margin-top: 30px;
  }

  .about {
    width: 500px;
  }

  .connect {
    margin-left: 10px;
  }

  .social-media {
    margin-left: 10px;
  }

  .contenido-mobil {
    display: none;
  }

  .contenido-desktop {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .contenido-lenguajes {
    display: flex;
    flex-direction: row;
  }

  .form {
    display: flex;
    background-image: url(../img/contact-background-big.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    align-items: center;
  }

  .form-control {
    display: flex;
    width: 569px;
  }

  .form-p {
    display: flex;
    width: 569px;
  }

  .title1 {
    display: flex;
    color: white;
    width: 569px;
    font-size: 40px;
  }

  .hero {
    height: 916px;
  }

  .form_btn {
    margin-left: 200px;
    align-items: center;
    align-content: center;
  }
}
